<div class="card m-3">
    <h5 class="card-header">Registration Form</h5>
    <div class="card-body">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group col-6">
                    <label>First Name</label>
                    <input type="text" formControlName="firstName" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f['firstName']['errors'] }" />

                </div>
                <div class="form-group col-6">
                    <label>Last Name</label>
                    <input type="text" formControlName="lastName" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f['lastName']['errors'] }" />

                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" formControlName="email" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f['email']['errors'] }" />

                </div>
            </div>

            <div class="error-container">
                <div *ngIf="submitted && f['firstName']['errors']" class="invalid-feedback">
                    <div *ngIf="f['firstName']['errors']['required']">
                        First Name is required
                    </div>
                </div>
                <div *ngIf="submitted && f['lastName']['errors']" class="invalid-feedback">
                    <div *ngIf="f['lastName']['errors']['required']">Last Name is required</div>
                </div>
                <div *ngIf="submitted && f['email']['errors']" class="invalid-feedback">
                    <div *ngIf="f['email']['errors']['required']">Email is required</div>
                    <div *ngIf="f['email']['errors']['email']">
                        Email must be a valid email address
                    </div>
                </div>
            </div>

            <div class="text-center">
                <button class="btn btn-primary mr-1">Register</button>
                <button class="btn btn-secondary" type="reset" (click)="onReset()">
                    Back
                </button>
            </div>
        </form>
    </div>
</div>